@use "./modules/variables/variables";
@use "./modules/mixin/mixin";
// @use "./modules/utility/utility";
// @use "./modules/foundation/foundation";

.open,
.close {
  border: solid 1px var(--gray-25);
}

.heading {
  font-size: var(--body);
}

.heading button {
  all: unset;
  outline: revert;
  cursor: pointer;
  box-sizing: border-box;
  width: 100%;
  display: flex;
  justify-content: space-between;
  gap: 1em;
  padding: 1em;
}

.icon {
  color: var(--gray-25);
  font-size: 1.25em;
  transition: transfrom 0.5s;
}

.open .icon {
  transform: rotate(180deg);
}

.textInner {
  padding: 0 1.14em 1.14em;
  font-size: calc(var(--body) * 0.875);
}

.text {
  overflow: hidden;
  height: 0;
  transition: none;
}

.open .text {
  animation: openAnim 0.5s forwards;
}
.close .text {
  animation: closeAnim 0.5s forwards;
}

@keyframes openAnim {
  0% {
    height: 0;
  }
  99% {
    height: var(--text-height);
  }
  100% {
    height: auto;
  }
}
@keyframes closeAnim {
  0% {
    height: var(--text-height);
  }
  100% {
    height: 0;
  }
}
