@use "./modules/variables/variables";
@use "./modules/mixin/mixin";
// @use "./modules/utility/utility";
// @use "./modules/foundation/foundation";

.wrapper{
  padding: var(--space-xl) 0;
  background-color:var(--gray-10);
}

.flexContainer{
  composes:sideBySideCenter from "utils.module.scss";
  gap: 2rem;
}