@use "./modules/variables/variables";
@use "./modules/mixin/mixin";
// @use "./modules/utility/utility";
// @use "./modules/foundation/foundation";

.flexContainer{
  composes:spaceBetween from "utils.module.scss";
}