@use "./modules/variables/variables";
@use "./modules/mixin/mixin";
// @use "./modules/utility/utility";
// @use "./modules/foundation/foundation";

.basic {
  font-size: var(--heading2);
  font-weight: 700;
  letter-spacing: 0.15em;
}

.box {
  composes:basic;
  display: inline-block;
  padding: 1rem 2rem;
  background-color: var(--gray-75);
  color: var(--white);
  font-size: var(--small-heading2);
}
