@use "./modules/variables/variables";
@use "./modules/mixin/mixin";

.flexContainer {
  composes: sideBySide from "utils.module.scss";
  gap: var(--space-md);
  margin: var(--space-md) 0 var(--space-lg);
}

@media (min-width: 768px) {
  .main {
    max-width: 768px;
  }
  .sidebar {
    max-width: 240px;
    position: sticky;
    top: 40px;
    align-self: flex-start;//or height:fit-content;
  }

  .sidebar * {
    text-align: right;
  }
  .sidebar :is(div, ul) {
    width: fit-content;
    margin-left: auto;
    place-items: end;
    place-content: end;
  }
}
